<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% extends "base.html" %}
{% block content %}

<div class="row">
        <table align="center" class="table table-sm" style="max-width: 600px;max-height: 400px;">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>quantity</th>
                <th>user</th>
                <th>contact</th>
                <th>address</th>
                <th>status</th>
            </tr>
            </thead>
            <tbody>
            {% for high in high %}
            <tr class="table-success">
                <td>{{high.item.name}}</td>
                <td>{{high.quantity}}</td>
                <td>{{high.user}}</td>
                <td>{{high.contact}}</td>
                <td>{{high.address}}</td>
                <td><a type="button" class="btn btn-danger" href="/on_prepare/{{high.id}}">{{high.status}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>



        <table align="center" class="table table-sm" style="max-width: 600px;max-height: 400px;">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>quantity</th>
                <th>user</th>
                <th>contact</th>
                <th>address</th>
                <th>status</th>
            </tr>
            </thead>
            <tbody>
            {% for medium in medium %}
            <tr class="table-warning">
                <td>{{medium.item.name}}</td>
                <td>{{medium.quantity}}</td>
                <td>{{medium.user}}</td>
                <td>{{medium.contact}}</td>
                <td>{{medium.address}}</td>
                <td><a type="button" class="btn btn-danger" href="/on_prepare/{{medium.id}}">{{medium.status}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <table align="center" class="table table-sm" style="max-width: 600px;max-height: 400px;">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>quantity</th>
                <th>user</th>
                <th>contact</th>
                <th>address</th>
                <th>status</th>
            </tr>
            </thead>
            <tbody>
            {% for low in low %}
            <tr class="table-danger">
                <td>{{low.item.name}}</td>
                <td>{{low.quantity}}</td>
                <td>{{low.user}}</td>
                <td>{{low.contact}}</td>
                <td>{{low.address}}</td>
                <td><a type="button" class="btn btn-danger" href="/on_prepare/{{low.id}}">{{low.status}}</a></td>
                </form>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

</body>
</html>