{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% for table in tables %}

        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <a class="card-block stretched-link text-decoration-none" href="/table/{{table.id}}/order">
                        <h3>Table: {{table}}</h3>
                    </a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}